@import "tailwindcss";

@theme {
  --color-primary: #0ea5e9;
  --color-secondary: #0f172a;
  --color-dark: #020617;
  --font-sans: Inter, sans-serif;
}

@layer base {
  body {
    background-color: var(--color-dark);
    color: white;
    overflow-x: hidden;
  }
}